# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# wails
.task
bin
app/html/*
frontend/dist
frontend/node_modules
build/dmg/**
build/exe/**
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe

node_modules
bin
dist
dist-ssr
output
*.local

# tmp data
workdata/
workdata/**

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
